body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* GenericForm Styles */
/* .generic-form-table td{
    text-align: right;
    color: red;
} */