<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Timer</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <p>Logged in as {{ user }}</p>
                <a href="{% url 'account_logout' %}">Logout</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <div>
            <p>
                Footer
            </p>
        </div>
    </footer>
</body>
</html>