{% extends "base.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <input type="button" name="" id="">  IMPLEMENT A CANCEL BUTTON USING VIEW DEFINED URLS TO GO BACK TO WHATEVER THE PREVIOUS PAGE WAS-->
    <input type="submit" value="Save">
    {% if add_baby %}
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    {% else %}
    <a href="{% url 'logs' baby.id %}" class="btn btn-secondary">Cancel</a>
    {% endif %}
    {% if edit_view %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete
    </button>
    {% endif %}
</form>
{% if edit_view  %}
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'delete-object' object.id%}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Delete
                    </button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}