{% extends "base.html" %}

{% block content %}
    <h1>Baby List</h1>
    <ul> 
        {% for baby in baby_list %}
            <div>
                <a href="{% url 'baby-detail' baby.id %}">
                    {{ baby.baby_name }}
                </a>
            </div>
            <div>{{ baby.user }}</div>
            <br>
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4">
                    <a href="{% url 'add_baby' %}">
                        Add new baby
                    </a>
                </div>
            </div>
        </div>
    </ul>
{% endblock %}