{% extends "base.html" %}
{% load custom_filters %}

{% block content %}

<div class="container-fluid p-3">
    <div class="row">
        <div class="col pb-3">
                <h1 class="h2 fw-normal">
                    <a class="text-decoration-none text-reset" href="{% url 'baby-detail' baby.id %}">
                        {{ baby.baby_name }}
                    </a>    
                </h1>
            <!-- <small class="text-muted">{{ baby.user }}</small> -->
        </div>
    </div>

    <div class="row m-auto">
        <div class="col w-75">
            <div class="btn-group w-100" role="group" aria-label="Basic example">
                <a href="{% url 'add-diaper' baby.id %}" class="btn btn-outline-primary">Add diaper</a>
                <a href="{% url 'add-sleep' baby.id %}" class="btn btn-outline-primary">Add sleep</a>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="list-group list-unstyled logs-list">
            {% for entry in logs_list %}
            <li class="border-0">
                <a href="{% url entry|to_class_name|to_edit_url entry.id %}"
                    class="border-0 pt-2 list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col-md-6 ">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>{{entry|to_class_name}}</strong>
                                    {% if entry|to_class_name == "Diaper" %}
                                     | {{entry.get_type_display}}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <strong>{{entry.time}}</strong>
                                    {% if entry|to_class_name == "Sleep" %}
                                    to <strong>{{entry.end_time}}</strong>
                                </li>
                                <li class="list-group-item">
                                    Slept for {{entry.end_time|timeuntil:entry.time}}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 px-4 py-2 fw-light">
                            {{entry.notes}}
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <br>
</div>
{% endblock %}