{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<!-- buttonsup
    top for adding logs, or a dropown ,

then below a list of all logs 
will need create pages for feed sleep meds , also view, edit, and delete-->
<!-- is this a list view? problably. that would work for the logs and then have a row up at the top with add buttons etc etc
FOR BUTTON GROUP SCROLL
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>{{ baby.baby_name }}</h3>
            <small class="text-muted">{{ baby.user }}</small>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'add-diaper' baby.id %}">
                <button type="button" class="btn btn-primary">Nappy</button>
            </a>
            <button type="button" class="btn btn-primary">Feed</button>
            <a href="{% url 'add-sleep' baby.id %}">
                <button type="button" class="btn btn-primary">Sleep</button>
            </a>
            <button type="button" class="btn btn-primary">Medication</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!--consider making into a striped table -->
    <div class="row">
        <ul class="list-group">
            {% for entry in logs_list %}
            <li>
                <a href="{% url entry|to_class_name|to_edit_url entry.id %}" class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table table-dark">
                                <tbody>
                                    <tr>
                                        <td>{{entry|to_class_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{entry.time}}
                                            {% if entry|to_class_name == "Sleep" %}
                                            to {{entry.end_time}}
                                            </td>
                                            <tr>
                                                <td>
                                                    Slept for {{entry.end_time|timeuntil:entry.time}}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            {{entry.notes}}
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <br>
</div>
{% endblock %}